.hackedbyjohn .needle{
  opacity:0!important;
  z-index:-1;
}

.hackedbyjohn .madeByItem p{
  font-size:12px!important;
}

.hackedbyjohn .madeByItem a{
  font-size:13px!important;
}

.hackedbyjohn .copyrightItem p{
  font-size:12px!important;
}

.hackedbyjohn .danielcover{
  position: relative;
  margin-left: 10%!important;
  margin-bottom: 3em;
  width: 80%;
  height: auto;
  border: solid white 0.89em;
}

.hackedbyjohn .dummyzummy{

}
