.hackedbyjohn .needle{
  opacity:0!important;
  z-index:-1;
}

.hackedbyjohn .madeByItem p{
  font-size:12px!important;
}

.hackedbyjohn .madeByItem a{
  font-size:13px!important;
}

.hackedbyjohn .copyrightItem p{
  font-size:12px!important;
}

.hackedbyjohn .dummyzummy{

}
