.hackedbyjohn .needle{
  opacity:0!important;
  z-index:-1;
}

.hackedbyjohn .madebyitem p{
  font-size:12px!important;
}

.hackedbyjohn .copyrightitem p{
  font-size:12px!important;
}

.hackedbyjohn .dummyzummy{

}
